<launch>

    <!-- 设置参数 -->
    <!-- <param name="robot_description" textfile="$(find 包名)/urdf/urdf01_HelloWorld.urdf" /> -->
    <param name="robot_description" textfile="$(find rviz_gazebo_learning)/urdf/show_box_cylinder_sphere.urdf" />

    <!-- 启动 rviz -->
    <node pkg="rviz" type="rviz" name="rviz" />

</launch>